 @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
   margin:0;
   padding: 0;
   border: 0;
 }
body {
    background-color:#ff9fc9;
}
header{
    padding: 32px;
    border-bottom: 1px solid #ffffff;
    background-color: rgba(0, 0,0,0.1);
}
header div {
    text-align: center;  
}
header div a {
    color: white;  
    font-size: 20px; 
    line-height: 30px;  
    margin: 0 16px; 
    text-decoration: none;  
    font-family: "Lora", serif;  
}
header div a:hover {  
    color: rgb(0, 255, 251); 
    transition: color 700ms;  
}
